# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Runtime data
pids
*.pid
*.seed
*.info
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Next.js
.next/
out/

# Astro
.astro/

# Dependencies
node_modules/
.pnpm-store/

# IDEs and other
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.DS_Store
Thumbs.db